

img { width: 200px;
    height: auto;
}

section {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
flex-direction: row;
row-gap: 30px;  
column-gap: 10px;


}

div{
    display: flex;
    flex-wrap: wrap;
}